

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#Unignore makefiles
!**/Makefile
!**/makefile


# py env folder 
**/env
**/figures

# Compiled Object files
**/*.o

# executables
**/*.exe

# lib files
**/*.d
**/*.so
**/*.pcm

# Fortran module files
**/*.mod
**/*.smod



# Result, Data, old files
**/*.root
**/*.csv
**/data
**/old
**/trials
**/output/*

# bash scripts
**/*.sh

# temp files
**/.directory
**/*.log
**/*.png

.vscode/settings.json
